<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LoginURL" value="https://www.facebook.com/" />
    <add key="username" value="sonal" />
    <add key="password" value="June19" />
    <add key="maxWaitInSec" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>